body {
  font-family: monospace;
  font-size: 24px;
  background-color: blanchedalmond;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}

span:hover {
  font-weight: 700;
  cursor: pointer;
}

.tree ul {
  max-height: 0;
  opacity: 0;
  transition:
    max-height 0.2s ease-in-out,
    opacity 0.3s ease-in-out;
}

.tree ul.visible {
  max-height: fit-content;
  opacity: 1;
}

