body {
  font-family: monospace;
  font-size: 24px;
  background-color: blanchedalmond;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}

span:hover {
  font-weight: 700;
  cursor: pointer;
}

.hidden {
  display: none;
}
