@import "utils";
@import "fonts";
@import "typography";

body {
  background: $c-gray;
}

.tree {
  li {
    float: left;
    clear: both;
    position: relative;
    &:hover {
      font-weight: bold;
      ul {
        font-weight: normal;
      }
      li & {
        font-weight: normal;
      }
    }
  }
}
